// Global default parameters
params {
  outdir = 'annotater'
  
  fasta = null         // fasta sequences to annotate
  config = null        // annotater configuration file
  evalue = null        // evalue cutoff (i.e. 1e-5)
  qc = null            // query coverage cutoff (i.e. 50)
  pid = null           // percent identity cutoff (i.e. 80)

  // Taxonomy params
  tax = false          // run taxonomy (if without -remotetax must set the below local taxonomy options)
  remotetax = false    // only do remote taxonomy (must also set -tax)

  // Local taxonomy params
  taxasql = null
  namesdmp = null
  nodesdmp = null

  pipeline_outdir = "./results"
  pipeline_info = "./results/pipeline_info"
}

process {
  withName: ANNOTATER {
    cpus   = 4
    time   = 24.h
  }
}

profiles {
  docker {
    enabled = true
  }
  singularity {
    enabled = true
    autoMounts = true
  }
}


report {
  overwrite = true
  enabled = true
  file = "${params.pipeline_info}/report.html"
}
timeline {
  overwrite = true
  enabled = true
  file = "${params.pipeline_info}/timeline.html"
}
trace {
  overwrite = true
  enabled = true
  file = "${params.pipeline_info}/trace.txt"
}
dag {
  overwrite = true
  enabled = true
  file = "${params.pipeline_info}/flowchart.dot"
  // file = "${params.pipeline_info}/flowchart.png" //requires graphviz for rendering
}

manifest {
  name = 'pcantalupo/annotater'
  author = 'Paul Cantalupo'
  description = 'Annotation of fasta sequences'
  mainScript = 'main.nf'
  version = '1.0.0'
}


